<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <script src="https://kit.fontawesome.com/dd091e55dc.js" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Overrides -->
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <!-- <a href="/weapons">LINK</a> -->
    <div id="app">
        <c-header title="RPG Weapon Generator" text="This project allows you to generate weapons with
            varying properties. You can even modify the properties
            that underly the generation engine.">
        </c-header>
        <c-navbar></c-navbar>
        <b-container class="main-body">
            <!-- All body content goes here -->
            <!-- This first div is the link to weapon generator -->
            <signup-prompt></signup-prompt>
        </b-container>
        <!-- Footer -->
        <b-container fluid class="footer rounded-0 text-center">
        </b-container>
    </div>
</body>

<script src="../static/js/main.js"></script>
<script>
    function signup() { // this should happen when the signup button is pressed
        if (!checkFilledIn()) {
            alert("Please enter information for all the boxes");
        } else {

        }
    }
    function checkFilledIn() {
        if (document.getElementById("username").value) {
            return false;
        } else if (document.getElementById("password").value) {
            return false;
        } else if (document.getElementById("firstName").value) {
            return false;
        } else if (document.getElementById("lastName").value) {
            return false;
        } else if (document.getElementById("email").value) {
            return false;
        }
        return true;
    }
  </script>

</html>
